*{
    margin: 0;
    padding: 0;
}
.head{
    text-align: center;
    font-size: x-large;
    padding: 5px;
    color:pink;
    background-color: black;
}
.name{
    font-size:x-large;
    text-align:left;
    text-indent: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}